@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
}

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5%;
}

.warper {
  background-color: #f9f9f9;
  width: 912px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 56px 68px;
  border-radius: 12px;
}

.tittle {
  width: 100%;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 31px;
  color: #242424;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #242424;
  margin-bottom: 31px;
}

.form input {
  width: 100%;
  height: 52px;
  border-radius: 12px;
  border: 0px;
  padding: 0px 34px;
  font-size: 18px;
  background-color: #f0f0f0;
  color: #242424;
}

.form button {
  width: 104px;
  height: 52px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  color: #f9f9f9;
  background-color: #242424;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 31px;
}

.cat {
  width: 100%;
  margin-left: 19px;
  display: flex;
  gap: 18px;
}

.cat button {
  height: 31px;
  font-size: 16px;
  color: #818181;
  padding: 0 14px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
}

.cat-btn-active {
  color: #f9f9f9 !important;
  background-color: #242424 !important;
}

.filter svg {
  margin-right: 19px;
}

.todosWarper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 100%;
  border-radius: 12px;
  gap: 24px;
  flex-direction: column;
  padding: 18px 0px;
}

.todosWarper ul {
  display: flex;
  padding: 0px 0px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin: 0;
}

.todosWarper p {
  width: 100%;
  height: 52px;
  background-color: #e8e8e8;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 0 19px;
  margin-left: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
  border: none;
}

.todosWarper input {
  width: 100%;
  height: 52px;
  background-color: #e8e8e8;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 0 19px;
  margin-left: 18px;
  border: none;
}

.buttons {
  display: flex;
  gap: 14px;
  width: auto;
  justify-content: space-evenly;
}

.buttons-editMode {
  display: flex;
  gap: 14px;
}

.buttons-editMode button {
  width: 100%;
}

.buttons-editMode button:nth-child(2) {
  border: solid 1px #242424;
  color: #242424;
  background-color: #e8e8e8;
}

.todosWarper button {
  height: 52px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  color: #f9f9f9;
  background-color: #242424;
  width: max-content;
  padding-left: 18px;
  padding-right: 18px;
}

.remove-btn {
  border: solid 1px #242424 !important;
  color: #242424 !important;
  background-color: #e8e8e8 !important;
}

.todosWarper button:last-child {
  margin-right: 18px;
}

button {
  cursor: pointer;
}

.completed {
  opacity: 40%;
}

.edit-form {
  position: relative;
  display: flex;
  width: 100%;
  gap: 12px;
}

.tooltip {
  background-color: #494949;
  color: white;
  padding: 12px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .todosWarper {
    padding: 18px 18px;
    box-sizing: border-box;
  }

  .todosWarper ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .todosWarper p {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
  }

  .buttons-editMode {
    display: flex;
    gap: 14px;
    width: 100%;
    margin-bottom: 30px;
  }

  .edit-form {
    display: block;
  }

  .edit-form input {
    margin-bottom: 12px !important;
  }

  .buttons-editMode button {
    width: 100%;
  }

  .buttons {
    width: 100%;
    display: block;
  }
  .buttons button {
    width: 100%;
    margin-bottom: 12px;
  }

  .buttons-editMode button:nth-child(2) {
    margin: 0;
  }

  .todosWarper input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
    display: flex;
    margin: 0;
  }
  .tittle {
    text-align: center;
  }

  .warper {
    width: 100%;
    padding: 18px 12px;
    box-sizing: border-box;
  }

  .todosWarper input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  .buttons {
    width: 100%;
    display: block;
  }

  .buttons button {
    width: 100%;
    margin-bottom: 12px;
  }

  .buttons button:nth-child(1),
  .buttons button:nth-child(2) {
    display: inline-block;
    margin-bottom: 8px;
    width: 100%;
  }

  .buttons button:nth-child(3) {
    width: 100%;
    margin-bottom: 18px;
  }
}
